/***************** Header style ******************/
.header{
 position: fixed;
 width: 100%;
 height: auto;
 padding: var(--el-header) 0;
 z-index: 9999;
 transition: all .3s;
}
header.active{
 background: #fff;
 border-bottom: 1px solid var(--color-gray-d);
}

header .container{
 display: grid;
 grid-template-columns: 2fr 1fr 2fr;
}
.header .nav-lists li{
 padding-right: 2rem;
}
.header .nav-lists li a{
 font-size: var(--fs-14);
}
.header .nav-lists li a:hover{
 text-decoration: underline;
}

header .container > *{
 display: flex;
 align-items: center;
}

header .nav-lists{
 display: flex;
}

header .logo{
 justify-content: center;
}
header .logo a{
 width: 100px;
}
header .logo img{
 width: 100%;
}
/* 사진은 감싸고 있는 태그의 크기를 조정하고 그 크기에 맞게 100%로 한다 */

header .info{
 justify-content: flex-end; 
 column-gap: 1rem;
}
header .info .sns ul{
 display: flex;
 align-items: center;
 column-gap: 1rem;
}
header .info .sns ul a{
 width: 20px;
 display: block;
}
header .info .sns ul a img{
 width: 100%;
}
header .info .cart a{
 background: var(--color-black);
 color: #fff;
 border-radius: .25rem;
 padding: .25rem .5rem;
 display: flex;
 align-items: center;
}

header .info .user{
 margin-left: -10px;
}

header .info .user a{
 background: transparent;
 border: 1px solid var(--color-black);
 border-radius: .25rem;
 padding: .25rem .5rem;
 font-size: var(--fs-18);
 display: flex;
 align-items: center;
}

header .info .loggedIn{
  border: 1px solid var(--color-black);
  margin-left: -10px;
  border-radius: .25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: .25rem .5rem;
}
header .info .loggedIn a{
  border: none;
  font-size: 12px;
}
header .info .loggedIn a:hover{
  text-decoration: underline;
}
/************* Header Mobile *****************/
header div.mobile-btn-wrapper{
 display: none;
}
.mobile-btn{width:1.8rem; cursor:pointer;}
span.bar_line{display:block; width:var(--ls-full);height:2px; background:var(--color-black); transition:all 0.3s; position:relative; margin:auto; border-radius:2px;}
span.bar_line:nth-child(2){margin:5px auto;}
 
.mobile-btn.active span.bar_line:nth-child(1){animation:ease 0.5s top forwards;}
.mobile-btn.active span.bar_line:nth-child(2){animation:ease 0.5s scaled forwards;}
.mobile-btn.active span.bar_line:nth-child(3){animation:ease 0.5s bottom forwards;}
 
.mobile-btn.not-active span.bar_line:nth-child(1){animation:ease 0.5s top-back forwards;}
.mobile-btn.not-active span.bar_line:nth-child(2){animation:ease 0.5s scaled-back forwards;}
.mobile-btn.not-active span.bar_line:nth-child(3){animation:ease 0.5s bottom-back forwards;}

/* header .mobile-menu{
  display: none;
} */



@keyframes top{
  0%{top:0; transform:rotate(0);}
  50%{top:10px; transform:rotate(0);}
  100%{top:10px; transform:rotate(40deg);}
 }
 @keyframes scaled{
  0%{transform:scale(0);}
  100%{transform:scale(0);}
 }
 @keyframes bottom{
  0%{bottom:0; transform:rotate(0);}
  50%{bottom:10px; transform:rotate(0);}
  100%{bottom:5px; transform:rotate(140deg);}
 }
  
 @keyframes top-back{
  0%{top:10px; transform:rotate(40deg);}
  50%{top:10px; transform:rotate(0);}
  100%{top:0; transform:rotate(0);}
 }
 @keyframes scaled-back{
  0%{transform:scale(0);}
  50%{transform:scale(0);}
  100%{transform:scale(1);}
 }
 @keyframes bottom-back{
  0%{bottom:5px; transform:rotate(140deg);}
  50%{bottom:10px; transform:rotate(0);}
  100%{bottom:0; transform:rotate(0);}
 }