@media screen and (max-width:980px){
/* header *//* header *//* header */
 header{
  background: #fff;
  border-bottom: 1px solid var(--color-gray-d);
 }
 header .container{
  grid-template-columns: 1fr 1fr;
 }
 header .container > *{
  display: none;
 }

header .logo{
 display: flex;
 justify-content: flex-start;
}
 header div.mobile-btn-wrapper{
  display: flex;
  justify-content: flex-end;
 }


 header .mobile-menu{
  width: 100%;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background: #eee;
}
header .nav-lists{
  flex-direction: column;
}
header .nav-lists li{
  display: flex;
}
header .nav-lists li a{
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 1rem 0;
}


 .overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.4;
 }

 /* landing page */ /* landing page */ /* landing page */
 .landing-text-box h1{
  text-shadow: 1px 1px 1px var(--color-gray-2);
 }
 .landing-text-box p{
  width: var(--ls-1-2);
 }
 .features-section{
  padding: var(--el-section-small) 0;
 }
 .features-section .features{
  padding: var(--el-medium);
 }
 .features-section .features-wrapper{
  flex-direction: column;
  align-items: center;
 }
 .features-section .features{
  width: 60%;
 }

 .slider-section .slider-text h4{
  font-size: var(--fs-20);
 }
 .slider-section .slider-btn{
  width: 45px;
  height: 45px;
 }
 .swiper-button-next:after, .swiper-button-prev:after{
  font-size: 1rem;
 }

 .swiper-button-prev{
 left: var(--swiper-navigation-sides-offset,25px);
 right: auto;
 }
 .swiper-button-next{
  right: var(--swiper-navigation-sides-offset,25px);
  left: auto;
 }

 /* offers section */ /* offers section */ /* offers section */
 .product-frame{
 font-size: var(--fs-20);
 padding: var(--el-normal);

}
.product-frame .product-text p{
 display: -webkit-box;
 -webkit-box-orient: vertical;
 overflow: hidden;
 -webkit-line-clamp: 2;
}

/* review section *//* review section *//* review section */
 .review-section .review-frame{
 padding: var(--el-normal);
}
.review-section .review-item{
 padding: var(--el-medium);
}



} /*end*/ 
 





@media screen and (max-width:786px){
 html{
  font-size: 14px;
 }
 .container{
  padding: 0 var(--el-medium);
 }
 .section{
  padding: var(--el-section-small) var(--el-medium);
 }

 /* meet section */ /* meet section */ /* meet section */
 .meet-section .meet-wrapper{
  flex-direction: column;
  row-gap: var(--el-wide);
 }

 .meet-section .meet-wrapper > div.meet-text-box{
  width: 100%;
  padding: 0 10%;
 }
 .meet-section .meet-text-box p{
  margin: 0;
  width: 100%;
 }

 .meet-section .meet-wrapper > div.meet-image-box{
  width: 100%;
  padding: 0 10%;
 }

 /* slider section */

 .slider-section .slider-btn{
  display: none;
 }
 .slider-section .swiper-slide{
  flex-direction: column;
  row-gap: var(--el-wide);
 }
 .slider-section .swiper-slide > div{
  width: 80%;
  margin: auto;
 }
 .slider-section .slider-text{
  align-items: center;
  text-align: center;
 }

  /* offers section */ /* offers section */ /* offers section */
.product-frame{
 width: var(--ls-1-2);
 padding: var(--el-normal);
}

/* review section *//* review section *//* review section */
.review-section .review-frame{
width: var(--ls-1-2);
padding: var(--el-normal);
}

/* insta section *//* insta section *//* insta section */
.insta-section .insta-wrapper{
  column-gap: var(--el-small);
}
.insta-section .insta-info h4{
  font-size: var(--fs-name);
}

.insta-section .insta-wrapper{
  grid-template-columns: 1fr 1fr;
}
.insta-section .insta-right-image{
  display: none;
}


} /*end*/ 










@media screen and (max-width:600px){
 .slider-section section{

 }

.section{
 padding: var(--el-section-small) 0; 
}

 #main-section img{
  left: 50%;
  transform: translateX(-50%);
 }

 /* landing text */ /* landing text */ /* landing text */ /* landing text */
 .landing-text-box{
  text-align: center;
 }
 .landing-text-box h1{
  text-align: center;
  font-size: 1.8rem;

 }
 .landing-text-box p{
  margin: auto;
  width: 80%;
 }
 .overlay{
  opacity: 0.7;
 }

 /* meet section */ /* meet section */ /* meet section */ /* meet section */
 .meet-section .meet-text-box p{
  font-size: var(--fs-16);
 }

 .meet-section .meet-wrapper> div.meet-image-box{
  column-gap: var(--el-normal);
 }
 .meet-section .meet-left-image{
  row-gap: var(--el-normal);
 }

 .meet-section .meet-wrapper > div.meet-text-box{
  padding: 0 5%;
 }

 .meet-section .meet-wrapper > div.meet-image-box{
  padding: 0 5%;
 }

 /* features section */  /* features section */  /* features section */ 
 .features-section .features{
  width: 90%;
 }
 
 .slider-section .swiper-slide > div{
  width: 90%;
  margin: auto;
 }

   /* offers section */ /* offers section */ /* offers section */
.product-frame{
  width: 100%;

 }
 
 /* review section *//* review section *//* review section */
 .review-section .review-frame{
 width: 100%;
 }

 /* gallery section */
.grid-item{
  width: var(--ls-1-2);
  padding: .25rem;

}
.box-sizer{
  width: var(--ls-1-2);
}
/* insta section *//* gallery section *//* gallery section */
.insta-section .insta-wrapper{
  grid-template-columns: 1fr;
  row-gap: var(--el-medium);
}
.insta-section .insta-info{
  order: 1;
}
.insta-section .insta-left-image{
  order: 2;
  width: 80%;
  margin: auto;
}

footer .footer-upper{
  flex-direction: column;
}

footer .footer-logo{
  margin-bottom: var(--el-medium);
}
footer .footer-info{
  flex-direction: column;
  row-gap: var(--el-medium);
  align-items: center;
}
footer .footer-lower{
  flex-direction: column;
  row-gap: var(--el-medium);
  align-items: center;
}
 } /*end*/ 


