@media screen and (max-width:980px){

 header{
  background: #fff;
  border-bottom: 1px solid var(--color-gray-d);
 }
 header .container{
  grid-template-columns: 1fr 1fr;
 }
 header .container > *{
  display: none;
 }
header .logo{
 display: flex;
 justify-content: flex-start;
}
 header div.mobile-btn-wrapper{
  display: flex;
  justify-content: flex-end;
 }
 .overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.4;
 }
 .landing-text-box h1{
  text-shadow: 1px 1px 1px var(--color-gray-2);
 }
 .landing-text-box p{
  width: var(--ls-1-2);
 }

} /*end*/ 
 
@media screen and (max-width:786px){
 html{
  font-size: 14px;
 }
 .container{
  padding: 0 var(--el-medium);
 }

} /*end*/ 

@media screen and (max-width:600px){
 #main-section img{
  left: 50%;
  transform: translateX(-50%);
 }
 .landing-text-box{
  text-align: center;
 }
 .landing-text-box h1{
  text-align: center;
  font-size: 1.8rem;

 }
 .landing-text-box p{
  margin: auto;
  width: 80%;
 }
 .overlay{
  opacity: 0.7;
 }

 

 } /*end*/ 